{
    "presets": ["next/babel"],
    "plugins": [
      [
        "prismjs",
        {
          "languages": ["javascript", "css", "jsx"],
          "plugins": [
            "line-numbers", 
            "normalize-whitespace", 
            "line-highlight"
          ]
         
        }
      ]
    ]
  }